.login {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
}
.login p {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 20px;
}